/* Import font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

/* All */
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
}
.layar-dalam {
  width: 1000px;
  margin: auto;
}
.layar-penuh {
  width: 100%;
}
nav {
  z-index: 100;
  color: #fff;
  text-align: center;
  position: fixed;
  border-bottom: 1px solid #b1b1b1;
  line-height: 60px;
  width: 100%;
  transition: background-color 0.5s ease;
}
nav.putih {
  background-color: #fff;
}
nav .logo {
  float: left;
  position: relative;
  line-height: 80px;
  text-align: center;
}
nav .logo img {
  vertical-align: middle;
  width: 70px;
  height: 65px;
}

nav .menu {
  float: right;
  height: 30px;
  margin-top: 13px;
  max-width: 500px;
}

nav .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav .menu ul li {
  list-style-type: none;
  float: left;
  line-height: 60px;
}

nav ul li a {
  color: #fff;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  color: red;
}

/* pengaturan header */
header {
  position: relative;
  height: 56.25vw;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}
header video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -2;
  width: 100vw;
}
header .intro {
  z-index: 100;
  color: #fff;
  text-align: center;
  position: relative;
  top: 50%;
}
header .intro h3 {
  font-size: 5vw;
  margin: 0;
  padding: 0;
  text-align: center;
}
header .intro p {
font-size: 2.5vw;
margin-top: 2vw;
padding: 0;
}
.tombol {
  background-color: #383536;
  height: 40px;
  line-height: 42px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0px 20px 0px 20px;
  font-size: 15px;
  border-radius: 4px;
  margin-top: 40px;
}
.tombol-header{
  background-color: #383536;
  height: 40px;
  line-height: 42px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0px 20px 0px 20px;
  font-size: 15px;
  border-radius: 4px;
  margin-top: 2vw;
}
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  opacity: 50%;
  z-index: -1;
}
.tombol-menu {
  position: absolute;
  top: 1.7rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}
.tombol-menu .garis {
  height: 3px;
  background-color: #fff;
}

/* mengatur jarak setiap section */
section {
  padding: 50px 0px 50px 0px;
}
section h3 {
  font-size: 3.2vw;
}
section h3::after {
  content: "";
  border-bottom: 5px solid #c86b85;
  width: 52px;
  display: block;
  margin: 20px auto;
}
#aboutus,
#team,
#blog,
#profile,
#gallery,
#sejarah,
#strukturKR {
  text-align: center;
}
section p.ringkasan {
  font-style: italic;
  font-size: 18px;
  color: #ababab;
}
section .konten-isi p {
  font-style: normal;
}
nav.putih {
  background-color: #fff;
}
nav.putih .tombol-menu .garis {
  background-color: #333;
}
nav.putih ul li a {
  color: #333;
}
nav .logo img.hitam {
  display: none;
}
section.abuabu {
  background-color: #f5f6f6;
}

.tim,
.blog,
.profile,
.sejarah 
.strukturKR{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bg-index {
  background: linear-gradient(90deg, #2484c6, #1995c8 51%, #00bbce);
}
.profile h6,
.tim h6 {
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
  font-size: 1.65vw;
  font-weight: bold;
}
.profile p a {
  text-decoration: none;
}

.profile img {
  width: 50px;
}
.profile div,
.tim div {
  text-align: center;
  width: 26%;
}

section.quote {
  background: url("asset/bg.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-style: italic;
  padding: 100px;
  background-size: 100vw;
}
section.quote .layar-dalam p {
  display: inline;
  background: url("asset/quote-icon.png") no-repeat;
  padding: 40px;
}
.tim img {
  width: 100%;
  box-shadow: 0px -10px 30px #ccc;
  border-radius: 5px;
}
.blog .area {
  width: 47%;
  box-shadow: 0px -10px 30px #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blog div.area div {
  width: 50%;
}
.blog .area .gambar {
  border-radius: 5px 0px 0px 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}
.blog .area .text article {
  padding: 40px;
}
.blog .area .text article h4 {
  margin: 0px;
}
.blog .area .text article a {
  color: #333;
  text-decoration: none;
  transition: color 0.5s ease;
}
.blog .area .text article a:hover {
  color: #ccc;
}
footer {
  padding: 50px 0px 50px 0px;
  background-color: #343a40;
  color: #fff;
}
footer .layar-dalam {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .layar-dalam div {
  width: 20%;
}
footer .layar-dalam h5 {
  margin-top: 0px;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
}
footer .layar-dalam .copyright {
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #666;
  text-align: center;
}
@media screen and (max-width: 991.98px) {
  .layar-dalam {
    width: 90%;
  }
  nav .menu ul {
    display: none;
    margin-top: 60px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  nav .menu ul li {
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    line-height: 40px;
  }
  nav .menu ul li a {
    color: #333;
  }
  .tombol-menu {
    display: flex;
  }
  .blog .area {
    display: block;
  }
  .blog div.area div {
    width: 100%;
  }
  .blog .area .gambar {
    border-radius: 5px 5px 0px 0px;
    height: 200px;
  }
  .profile {
    display: block;
  }
  .profile div {
    width: 100%;
    padding-bottom: 30px;
  }
}

.grid-container {
  display: grid;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  grid-template-columns: auto auto;
  background-color: #f5f6f6;
  padding-left: 50px; 
  padding-right: 50px;
}

.grid-item {
  background-color: #f5f6f6;
  border: 0.2px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-item:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

/* /scrolbar/ */
::-webkit-scrollbar{
width: 12px;
margin-right: 5px;
}
::-webkit-scrollbar-track{
border: 15px solid #000000;
border-radius: 15px;
}
::-webkit-scrollbar-thumb{
background: linear-gradient(30deg, #ffffff, #9db0b0);
border-radius: 4px;
}

iframe{
width: 100%;
height: 10vw;
}

/* section#gallery {
  display: flex;
  flex-direction: column;
  align-items:center ;
  justify-content: space-around;
  overflow: hidden;
  padding: 300px 0px 300px 0px;
} */
/* section#gallery div {
  padding: 50px;
}
section#gallery div h1 {
  font-size: 200px;
  text-align: center;
  flex-wrap: wrap;
}
section#gallery div img {
  height: 100px;
  border-radius: 100px;
}
section#gallery div img:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
} */


/* SEJARAH */
.grid-item-sejarah-img{
  width: 50%;
}


/* .grid-item-sejarah {
  background-color: #f5f6f6;
  padding: 20px;
  font-size: 30px;
  text-align: left;
}

.pic-sejarah h1 {
  float: right;
  margin-left: 80px;
}

.pic-sejarah p { 
  float: right;
  margin-left: 80px;
} */


/* .container {
  font-family: arial;
  font-size: 24px;
  margin-left: 500px;
  width: 700px;
  height: 400px;
  outline: white;
  position: relative;
} */


/* KEGIATAN */
.desc {
  padding-top: 20px;
  text-align: center;
  font-style: bold;
  font-size: 25px;
}


/* struktur */
/* Varaibles - config */
/* SCSS*/
/* body {
  background: #f5eec9;
} */
.content {
  font-family: Verdana;
  font-size: 14px;
  position: relative;
}
.content * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.org-chart {
  display: block;
  clear: both;
  margin-bottom: 30px;
  position: relative;
 /** * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
 /* Box colors */
 /* 1 column */
 /* 2 column */
 /* 3 column */
 /* DEPARTMENTS COLUMNs */
}
.org-chart.cf:before, .org-chart.cf:after {
  content: " ";
 /* 1 */
  display: table;
 /* 2 */
}
.org-chart.cf:after {
  clear: both;
}
.org-chart.cf {
  *zoom: 1;
}
.org-chart ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.org-chart ul li {
  position: relative;
}
.org-chart ul li span {
  display: block;
  border: 3px solid orange;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  color: black;
  font-size: 12px;
  box-shadow: 4px 4px 9px -4px rgba(0, 0, 0, 0.4);
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  transition: all linear 0.1s;
  background: #92d4a8;
  padding: 4px;
}
.org-chart .lvl-b {
  background: green;
  color: #92d4a8;
}
.org-chart .board {
  width: 70%;
  margin: 0 auto;
  display: block;
  position: relative;
}
.org-chart .board:before {
  content: "";
  display: block;
  position: absolute;
  height: 850px;
  width: 0px;
  border-left: 2px solid blue;
  margin-left: 49%;
  top: 15px;
}

.org-chart .boardss:before {
  content: "";
  display: block;
  position: absolute;
  height: 0px;
  width: 0px;
  border-left: 2px solid red;
  margin-left: 49%;
  top: 15px;
}

.org-chart ul.columnOne {
  height: 90px;
  position: relative;
  width: 100%;
  display: block;
  clear: both;
}
.org-chart ul.columnOne li {
  width: 30%;
  margin: 0px auto;
  top: 20px;
}
.org-chart ul.columnTwo {
  position: relative;
  width: 100%;
  display: block;
  height: 90px;
  clear: both;
}
.org-chart ul.columnTwo li:first-child {
  width: 30%;
  float: left;
}
.org-chart ul.columnTwo li {
  width: 30%;
  float: right;
}
.org-chart ul.columnTwo:before {
  content: "";
  display: block;
  position: relative;
  width: 80%;
  height: 10px;
  border-top: 2px solid orange;
  margin: 0 auto;
  top: 40px;
}
.org-chart ul.columnThree {
  position: relative;
  width: 100%;
  display: block;
  clear: both;
}
.org-chart ul.columnThree li:first-child {
  width: 30%;
  float: left;
  margin-left: 0;
}
.org-chart ul.columnThree li {
  width: 30%;
  margin-left: 5%;
  float: left;
}
.org-chart ul.columnThree li:last-child {
  width: 30%;
  float: right;
  margin-left: 0;
}
.org-chart ul.columnThree:before {
  content: "";
  display: block;
  position: relative;
  width: 80%;
  height: 10px;
  border-top: 2px solid orange;
  margin: 0 auto;
  top: 40px;
}
.org-chart .departments {
  width: 100%;
  display: block;
  clear: both;
}
.org-chart .departments:before {
  content: "";
  display: block;
  width: 85%;
  height: 22px;
  border-top: 2px solid orange;
  border-left: 2px solid orange;
  border-right: 2px solid orange;
  margin: 0 auto;
  top: 0px;
}
.org-chart .department {
  border-left: 2px solid orange;
  width: 13.2%;
  float: left;
  margin: 0px 4px;
}
.org-chart .department:after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 22px;
  border-left: 2px solid orange;
  left: 50%;
  top: -22px;
}
.org-chart .department:first-child:after {
  display: none;
}
.org-chart .department:last-child:after {
  display: none;
}
.org-chart .department.central {
  background: #f5eec9;
}
.org-chart .department.central:after {
  display: none;
}
.org-chart .department span {
  border-left: 1px solid orange;
}
.org-chart .department li {
  padding-left: 25px;
  border-bottom: 2px solid orange;
  height: 80px;
}
.org-chart .department li span {
  background: #92d4a8;
  top: 38px;
  position: absolute;
  z-index: 1;
  width: 95%;
  height: auto;
  vertical-align: middle;
  right: 0px;
  line-height: 14px;
  border: 3px solid orange;
}
.org-chart .department .sections {
  margin-top: -20px;
}
/* MEDIA QUERIES */
@media all and (max-width: 767px) {
  .org-chart .board {
    margin: 0px;
    width: 100%;
 }
  .org-chart .departments:before {
    border: none;
 }
  .org-chart .department {
    float: none;
    width: 100%;
    margin-left: 0;
    background: #f5eec9;
    margin-bottom: 40px;
 }
  .org-chart .department:before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 60px;
    border-left: 2px solid orange;
    z-index: 1;
    top: -45px;
    left: 0%;
    margin-left: -2px;
 }
  .org-chart .department:after {
    display: none;
 }
  .org-chart .department:first-child:before {
    display: none;
 }
}
/*--------- TO BE REMOVED FROM YOUR CSS --/
/* this is just to display the behaviour of responsive on codepen */
.responsive-content {
  width: 767px;
  margin: 0px auto;
}
.responsive-content .org-chart .board {
  margin: 0px;
  width: 100%;
}
.responsive-content .org-chart .departments:before {
  border: none;
}
.responsive-content .org-chart .department {
  float: none;
  width: 100%;
  margin-left: 0;
  background: #f5eec9;
  margin-bottom: 40px;
}
.responsive-content .org-chart .department:before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 60px;
  border-left: 2px solid orange;
  z-index: 1;
  top: -45px;
  left: 0%;
  margin-left: -2px;
}
.responsive-content .org-chart .department:after {
  display: none;
}
.responsive-content .org-chart .department:first-child:before {
  display: none;
}

/* Footer */
ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: linear-gradient(90deg, #2484c6, #1995c8 51%, #00bbce);
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: white;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #fff;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #fff;
  line-height: 28px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.facebook-bg {
  background: #3B5998;
}

.twitter-bg {
  background: #55ACEE;
}

.google-bg {
  background: #DD4B39;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #fff;
}

.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: #fff;
}

.footer-widget ul li a {
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #50b8f5;
  /* border: 1px solid #fff; */
  color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: #5061fd;
  padding: 13px 20px;
  border: 1px solid #142bff;
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}


.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #ff5e14;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #ff5e14;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.footer-section .title-brand {
  font-size: 28px;
  font-weight: 800;
  color: white;

}

/* End Footer */