/* Import font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
/* All */
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* End All */

/* Header */
.header {
    background-color: #1A2332;
}
.container .navbar-toggler {
    color: whitesmoke;
}
.navbar-brand.fw-bold {
    color: whitesmoke;
    display: flex;
    align-items: center;
}
.navbar-brand.fw-bold:hover {
    color: whitesmoke;
}
.navbar-brand img{
    border: white solid;
    border-radius: 100%;
}
#navbarNav .navbar-nav .nav-item .nav-link{
    /* padding: 20px 20px 30px 30px; */
    color: whitesmoke;
}
#navbarNav .navbar-nav .nav-item .nav-link:hover{
    color: deepskyblue;
}
/* End Header */

/* Opening */
#opening {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(assets/bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
#opening .container {
    text-align: center;
    color: azure;
}
/* End Opening */

/* Profile */
.social-media {
    margin: 0px 20px;
}
.social-media a{
    size: 20px;
    padding: 10px;
}
/* End Profile */

/* About */
#about {
    padding-top: 100px;
    background-color: #0693E3;
}
.container-about {
    text-align: center;
}
/* End About */

/* Portofolio */
#porto {
    padding-top: 100px;
}
.flex {
    display: flex;
    align-items: center;
}
.card {
    margin: 20px 60px;
}
/* End Portofolio */

/* Contact */
#contact {
    padding-top: 100px;
    background-color: black;
}
.form-contact {
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
}
.form { 
    padding: 20px;  
}
.contact-me {
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 10px;
}
.infoBox .mb-3 {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.infoBox .mb-3 span {
    min-width: 40px;
    height: 40px;
    color: white;
    background-color: #0693E3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}
.infoBox .mb-3 a {
    color: #1A2332;
    font-size: 1.1em;
    text-decoration: none;
}
.infoBox .mb-3 p {
    color: #1A2332;
    font-size: 1.1em;
}
.medsos {
    padding-top: 10px;
    padding-left: 50px;
}
.mediaSosial {
    margin-top: 10px;
    display: flex;
}
.mediaSosial li {
    list-style: none;
    margin-right: 10px;
}
.mediaSosial li a{
    color: #0693E3;
    font-size: 2em;
}
.mediaSosial li a:hover {
    color: #2672CD;
}

/* End Contact */

/* Footer */
footer {
    background-color: #1A2332;
    height: auto;
    padding-top: 40px;
}
.footer-content{
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
    align-items: center;
}
.socials a{
    margin: 0 10px;
    text-decoration: none;
    color: white;
}
.socials a i{
    font-size: 1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: #2672CD;
}
.footer-bottom{
    color: white;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    word-spacing: 2px;
}
/* End Footer */